body{
    margin: 0;
    padding: 0;
}

#videoslider{
    margin: auto;
    width: 100%;
    
}

header{
    background-color: bisque;
    width: 100vw;
}

#gallery{
    padding: 20px;
}

main{
    padding: 0;
    margin: 0;
    width: 100%;
}

footer{
    display: flex;
    justify-content: space-evenly;
    background-color: lightblue;
    width: 100%;
    padding: 0;
    margin: 0;
}

footer>div{
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px black;
}